.reset {
    display: none;
}

body{
background: rgb(72, 170, 167);
font: normal 15pt Arial;
}

header{
    color: white; 
    text-align: center;
}

section{

    .computerMove, .playerMove {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pImg:hover {
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(1.2);
}


.active {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.computerImgs, .playerImgs { 
    border: 3px solid rgb(3, 170, 167);
    border-radius: 10px; /* ← arredonda as bordas */
    padding: 10px;
    width: fit-content; /* ← borda só ao redor das imagens */
    margin: 10px auto;  /* ← centraliza */
}
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.436) 5px 5px 10px;
}

img {
    width: 100px;
    height: 100px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}